body {
	background: #f0f0f0;
	font: 10pt Helvetica, Arial, sans-serif;
}

table {
	border-collapse: collapse;
}

td {
	border: 1px solid #d0d0d0;
	text-align: center
}

td.y {
	background: #cfc;
	color: #060;
}

tbody tr:hover td {
	background: #fff
}

thead th {
	vertical-align: bottom;
}

tbody th {
	text-align: right;
}

a {
	color: #930;
	text-decoration: none
}
